<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Green</title>


    <!-- BootStrap
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
 -->

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">



</head>

<body>

    <!-- As a heading -->

    <div class="header">
        <div class="header-txt">
            <div class="headerImg">
                <img src="farmer2.jpg" style="width:5vw ;height:15vh;">
            </div>
            <a2 class="navbar-brand" href="/">Project Green © 2022</a2>


            <br>
        </div>
    </div>
    <div class="body">
        <div class="beforeForm">
            <div class="slideshow-container">

                <!-- Full-width images with number and caption text -->
                <div class="mySlides fade">
                    <div class="numbertext">1 / 3</div>
                    <img src="Farmer.jpg" style="width:100%;">
                    <div class="text">Farmer</div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">2 / 3</div>
                    <img src="https://m.economictimes.com/thumb/msid-74622410,width-1200,height-900,resizemode-4,imgsize-143997/farmer-getty.jpg"
                        style="width:100%;">
                    <div class="text">Indian Farmer</div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">3 / 3</div>
                    <img src="https://cdn.downtoearth.org.in/library/large/2019-06-03/0.62901000_1559538844_maize_gettyimages-.jpg"
                        style="width:100%;">
                    <div class="text">Crop Field</div>
                </div>
            </div>

        </div>

        <div class="container">
            <h3 style="font-family:verdana;color:#c73f0a;">Please fill the parameters below and click on Predict button
                to check prediction of crop production.</h3>

            <hr />

            <form action="\predict" method="post">

                <h3>Crop Year</h3>
                <select class="select" name="cyear" required="required" placeholder="Enter the year for prediction">
                    {% for o in crop_years %}
                    <option value="{{ o }}">{{ o }}</option>
                    {% endfor %}
                </select>

                <h3>District Name</h3>
                <select class="select" name="dname" required="required" placeholder="Enter the year for prediction">
                    {% for o in district_names %}
                    <option value="{{ o }}">{{ o }}</option>
                    {% endfor %}
                </select>

                <h3>Crop Name</h3>
                <select class="select" name="cname" required="required" placeholder="Enter the year for prediction">
                    {% for o in crop_names %}
                    <option value="{{ o }}">{{ o }}</option>
                    {% endfor %}
                </select>

                <h3>Soil Type</h3>
                <select class="select" name="stype" required="required" placeholder="Enter the year for prediction">
                    {% for o in soil_types %}
                    <option value="{{ o }}">{{ o }}</option>
                    {% endfor %}
                </select>

                <h3>Pressure</h3><input id="ninth" name="pressure" placeholder="Like 1013.59" required="required">
                <h3>Wind Speed</h3><input id="ninth" name="wind" placeholder="Like 2.06826" required="required">
                <h3>Temperature</h3><input id="ninth" name="temp" placeholder="Like 20.770894" required="required">


















                <br><br /><button id="sub" type="submit " ;">Predict</button>
            </form>
            <div class="resultSection">
                <h3>{{ prediction_text }}<h3>
            </div>
            <br>
        </div>
    </div>




    <!-- JavaScript -->
    <script type="text/javascript" src="static/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
    <div class="emojions">
        <marquee behavior="alternate">
            👨‍🌾 👩‍🌾 Predicting Yield For A Better Cause. 👨‍🌾 👩‍🌾
        </marquee>
    </div>

    <!-- Footer -->
    <div class='footer'>
        <div class="contact">
            <p> 👨‍🌾 Sadique Akhtar: Front-End development 🤟 </p>
            📏
            <p> 👨‍🌾 Kushal Sharan: ML model integration 🔥 </p>
        </div>
        <p class='footer-description'>© E15 2022</p>
    </div>

</body>

</html>
